@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }
  
  :root {
    --card-height: 70vh;
    --card-width: 
  }
  
  
  body {
    min-height: 100vh;
    background: #212534;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-sizing: border-box;
    font-family:cursive;
    position: relative;
  }
  
  
  .card {
    background: #191c29;
    width: var(--card-width);
    height: var(--card-height);
    padding: 3px;
    position: relative;
    border-radius: 6px;
    /* justify-content: center;
    align-items: center;
    display: flex; */
    text-align: center;
    font-size: 1.5em;
    color: rgb(88 199 250 / 0%);
    cursor: pointer;
    font-family: cursive;
    padding: 10px;
    padding-top: 0;
    
  }
  
  .card:hover {
    color: rgb(88 199 250 / 100%);
    transition: color 1s;
  }
  /* .card:hover:before, .card:hover:after {
    animation: none;
    opacity: 0;
  }
   */
  
  .card::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 2.5s linear infinite;
  }
  
  .card::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
  }
  
  @keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }
  
#title{
  color: #5ddcff;
  margin-bottom: 2%;
  margin-top: 4px;
}

.today{
  z-index: 4;
  color: #5ddcff;
  margin-bottom: 9px;
  margin-top: 18px;
  font-size: 28px;
}

#todayGC,#todayEC{
  color: white;
  font-size: 19x;
}

select{
  width: 60%;
  background-color: #4ab0cc;
  color: white;
  font-size: 20px;
  border: 2px solid #5ddcff;
  border-radius: 5px;
  margin-top: 7%;
  outline: none;
  max-width: 200px;
}
#input-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
}

input{
  width: 20%;
  margin-top: 0;
  background-color: #3c67e3;
  outline: none;
  border: 1px solid #5ddcff ;
  border-radius: 4px;
  font-size: 20px;
  color: aliceblue;
  max-width: 80px;
  
}

#error{
  color: red;
  font-size: 15px;
}

select option{
  background-color: black;
  color: white;
  
}

#time-container{
  display: flex;
  align-items: end; 
  justify-content: space-around;
  margin-bottom: 0;
  padding-bottom: 0;
  z-index: 8;
}
p{
  color: white;
  padding-bottom: 0;
  margin-bottom: 0;
}


#result-el{
  height: 8%;
  
  color: wheat;
  text-align: start;
  position: absolute;
  bottom: 1%;
   
  border-radius: 6px;
}



/* #result{
  margin-top: 2%;
  width: 300px;
  height: 50px;
  z-index: 100;
  
} */

.btn{
  margin-top: 11%;
  padding:2% 3%;
  background-color: #5071e9;
  color: aliceblue;
  font-size: large;
  border-radius: 7px;
  border: none;
  box-shadow: 2px 2px 4px #5ddcff, -2px -2px 4px #5ddcff;
}
.profile{
  border-radius: 50%;
  overflow: hidden;
  width: 7x;
  height: 73px;
  position: absolute;
  top: 10px;
  left: 5px;
  border: 1px solid #5ddcff;
  z-index: -3;
}

.profile img{
  width: 70px;
  height: 70px;

}

#eth-flag{
  width: 40px; 
  height: 35px;
  display: inline;
  margin-right: 9px;
  
}

#footer{
  position: absolute;
  bottom: 5px;
  right: 16px;
  color: #4ab0cc;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#by{
  color: aliceblue;
  font-family: 'Times New Roman', Times, serif;
  font-size: 13px;
}

.credit{
  color: azure;
  font-size: 12px;
}

@media (max-width:718px) and (min-width:418px){
  select{
    margin-top: 0;
  }
}

@media(max-width:344px){
  #result-el{
    font-size: 17px;
    bottom: 0;
   
  }
  #todayGC,#todayEC{
    font-size:18px;
  }
  .profile{
    width: 49px;
    height: 49px;
  }

  .profile img{
    width: 49px;
    height: 49px;
  }

 
}